<h1>Register User</h1>

<%= mdl_form_for(@user) do|form| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <p><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</p>

      <ul>
        <% @user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.text_field :name %> <br>

  <%= form.text_field :email %> <br>

  <%= form.password_field :password %> <br>


  <%= form.password_field :password_confirmation %> <br>


  <%= form.submit class: "mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent", value: "Register User" %>

<% end %>

